body{
  background: rgb(14, 17, 14);
  font-size: 1.15em;
}

img{
  max-width: 100%;
  height: auto;
}

h1{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

.sansserif{
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-tepmlate-columns: auto auto auto;
  grid-column-gap: 50px;
  gird-row-gap: 50px;
}

.subtitle{
  color: rgb(255, 75, 75);
}

.detail{
    font-family: Arial, sans-serif;
}

#email-link:link{
  color: DeepSkyBlue;
}

#email-link:hover{
  color: white;
}

#myPic{
  max-width: 30vw;
  height: auto;
}

#title{
  color: rgb(255, 36, 36);
}

#night-mode-button{
  padding: 0px;
  margin-left: 40px;
}
