html{
  --bg: rgb(245, 245, 245);
  --hc: rgb(245, 6, 6);
  --sc: rgb(225, 55, 55);
  --tc: rgb(0, 0, 0);
  --lc: rgb(0, 51, 255);
  --hlc: rgb(0, 0, 200);
  --pc: rgb(220, 220, 220);
}

html[data-theme='dark']{
  --bg: rgb(14, 17, 14);
  --hc: rgb(255, 36, 36);
  --sc: rgb(255, 55, 55);
  --tc: rgb(240, 240, 240);
  --lc: rgb(0, 191, 255);
  --hlc: rgb(255, 255, 255);
  --pc: rgb(30, 33, 30);
}

body{
  background: var(--bg);
  font-size: 1.15em;
}

img{
  max-width: 100%;
  height: auto;
}

h3{
  color: var(--tc);
}

p{
  color: var(--tc);
}

ol{
  color: var(--tc);
}

ul{
  color: var(--tc);
}

.sansserif{
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.container {
  background: var(--pc);
  display: flex;
  flex-wrap: wrap;
}

.container-item{
  margin: 20px;
  width: 40vw;
  padding: 10px;
}

.subtitle{
  color: var(--sc);
}

.detail{
  font-family: Arial, sans-serif;

  color: var(--tc);
}

.form{

}

#email-link:link{
  color: var(--lc);
}

#email-link:hover{
  color: var(--hlc);
}

#myPic{
  max-width: 30vw;
  height: auto;
}

#title{
  color: var(--hc);
  text-align: center;
}

#job-desc{
  color: var(--tc);
  text-align: center;
}

#night-mode-button{
  float: right;
}

#abt-me{
  text-align: center;
  width: 100vw;
}
